*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
.p-10{
    padding: 10px;
}
.bg-info{
    background-color: #00aeef !important; 
}
.text-info{
    color: #00aeef !important;
}
.border-info{
    border: 1px solid #00aeef !important;
}
.w33{
    width: 33.33%;
}

/* davigation @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* first line */

.first-line{
    background-color: #f4f4f4;
}
.location a{
    color: gray;
}
.media a{
    transition: all 0.3s !important;
}
.media a:hover{
    color: #00aeef !important;
}

/* nav */

header a{
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s;
}
header a:hover{
    color: #00aeef !important;
}
.hover-box{
    visibility: hidden;
    opacity: 0;
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: all 0.2s;
}
.hover-box a{
    transition: all 0.2s;
}
.hover-box a:hover{
    color: #00aeef;
}
.hover-block:hover .hover-box{
    visibility: visible;
    opacity: 1;
}
.btn-hover{
    transition: all 0.2s;
}
.btn-hover:hover{
    background-color: transparent !important;
    color: #00aeef !important;
    border: 1px solid #00aeef;
}
.manu-icon:focus{
    outline: none;
}

header{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:1200px) {
    .manu-none{
        display: none;
    }
}
@media screen and (max-width:576px) {
    header img{
        height: 30px;
    }
}

/* home / section 1  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.bg-img1{
    background-image: url(../images/carousal-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: calc(100vh - 112px);
}
.bg-img2{
    background-image: url(../images/carousal-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: calc(100vh - 112px);
}
.bg-img3{
    background-image: url(carousal-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: calc(100vh - 112px);
}
.bg-img4{
    background-image: url(carousal-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: calc(100vh - 112px);
}
.bg-gradient{
    /* background-color: rgba(0, 0, 75, 0.8); */
    background-image: linear-gradient(to right, rgba(44, 69, 93, 0.80), rgba(0, 1, 44, 0.8)) !important;
    background-size: 100% 100%;
}
.home h1{
    max-width: 1000px;
    font-size: 56px;
    padding: 0px 15px;
    margin: auto;
    color: white;
}
.home p{
    max-width: 1000px;
    font-size: 21px;
    padding: 0px 15px;
    margin: auto;
    color: white;
}
.bg-gradient a{
    font-size: 18px;
    max-width: 730px;
}
@media screen and (max-width:1200px) {
    .home h1{
        font-size: 40px;
        max-width: 730px;
    }
    .home p{
        font-size: 18px;
    }
}
@media screen and (max-width:768px) {
    .home h1{
        font-size: 25px;
    }
}

/* about / sectiohn 2  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.blue-bar{
    width: 70px;
    height: 4px;
}
.progress-info{
    font-style: 20px;
}
.progress{
    height: 15px;
}
.numbers i{
    font-size: 50px;
}
.numbers h1{
    font-size: 40px;
}
.numbers h2{
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .numbers .col-3{
        width: 50%;
        margin-top: 20px;
    }
}

/* services / section 3  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.services{
    background-image: url(../images/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}
.services i{
    font-size: 35px;
    margin-top: 40px;
}
.services p{
    font-size: 15px;
    margin-top: 10px;
    transition: all 0.2s;
}
.services .col-md-4:hover p{
    color: #00aeef;
}
@media screen and (max-width:576px) {
    .col-sm-6{
        width: 50%;
    }
}

/* section 4 / pricing  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

td{
    padding: 15px 25px !important;
    border: 3px solid white !important;
}

/* section 5 / appointment  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.appintment{
    background-image: url(../images/appointment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
}
.appointment h1{
    font-size: 40px;
}
.appintment input, select, textarea{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}
.appintment input, select, textarea:active{
    border: none;
    outline: none;
}

@media screen and (max-width:991px) {
    form .w-50{
        width: 100% !important;
    }
    #phone{
        margin-top: 24px;
    }
}
textarea:focus{
    outline: none;
}
/* section 6 / py-5  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.dentist h1{
    font-size: 40px;
}
.bg-gray{
    background-color: rgb(241, 241, 241);
}
.dentist .bg-gradient {
    width: calc(100% - 30px);
    bottom: 15px !important;
}
.dentist h2{
    font-size: 18px;
}
.dentist p{
    font-size: 15px;
    margin-bottom: 0px;
}
.dentist .row{
    max-width: 1000px;
    margin: auto;
}


/* section 7 / carsoul2  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.carsoul2{
    background-image: url(../images/carousal-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 70% 30%;
}
.carsoul2 .bg-gradient{
    padding: 100px 0px;
}
.carsoul2 p:first-child{
    font-style: italic;
    font-size: 17px;
}
.carsoul2 .row{
    margin: auto;
    max-width: 1000px;
}
.carsoul2 h2, h3{
    font-size: 20px;
}
@media screen and (max-width:991px) {
    .carsoul2 .bg-gradient{
        padding: 30px 0px;
    }
    .carsoul2 img{
        margin-bottom: 30px;
    }
}

/* section 8 / news  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.news{
    padding: 100px 0px;
}
.news .row{
    max-width: 1000px;
}
.news .col-4{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.head-line{
    font-size: 20px;
    transition: 0.2s;
}
.head-line:hover{
    color: #00aeef;
}
.news .col-4{
    padding: 0px 20px !important;
}
.news-info a{
    transition: all 0.2s;
}
.news-info a:hover{
    color: #00aeef !important;
}
@media screen and (max-width:768px) {
    .news{
        padding: 30px 0px;
    }
}

/* section 10 / footer @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

footer{
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
footer .row {
    padding: 100px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.list-group-item{
    background-color: transparent;
    border: none;
    padding: 0px 20px 0px 0px !important;
}
footer h2{
    font-size: 25px;
}
footer #email{
    line-height: 0 !important;
}
footer button{
    border: none;
    margin-left: -5px;
    font-size: 16px;
    padding: 8px 15px;
    margin-top: 1px;
    transition: all 0.5s;
}
footer button:hover{
    background-color: black !important;
}
.quick-links a{
    font-size: 15px;
    transition: all 0.2s;
}
.quick-links a:hover{
    color: #00aeef !important;
}
@media screen and (max-width:576px) {
    footer .bg-gradient{
        padding: 0px 10px;
    }
    footer .row{
        padding: 48px 0px;
    }
    .mt-sm-3{
        margin-top: 20px;
    }
}